:root {
  --background-color: white;
  --text-primary: red;
  --text-secondary: grey;
  --button-bg-color: #28a745;
  --button-text-color: #ffffff;
  --button-bg-color-disabled: #ccc;
  --output-bg-color: #f5f5f5;
  --output-text-color: #000000;
}

body.night {
  --background-color: black;
  --text-primary: white;
  --text-secondary: grey;
  --button-bg-color: #28a745;
  --button-text-color: #ffffff;
  --button-bg-color-disabled: #555;
  --output-bg-color: #1c1c1c;
  --output-text-color: #ffffff;
}

body.colorblind {
  --background-color: white;
  --text-primary: black;
  --text-secondary: grey;
  --button-bg-color: #ffc107;
  --button-text-color: #000000;
  --button-bg-color-disabled: #e0e0e0;
  --output-bg-color: #e0e0e0;
  --output-text-color: #000000;
}

html, body {
  background-color: var(--background-color);
  color: var(--text-primary);
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding-top: 60px; /* Adjust padding for navbar */
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
  width: 100%;
  background-color: var(--background-color);
}

.app-container {
  margin: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  margin: 0;
  font-size: 1.2em; /* Adjust font size to make the navbar more compact */
  color: var(--text-primary);
}

p {
  color: var(--text-secondary);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-timer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.run-button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.run-button:disabled {
  background-color: var(--button-bg-color-disabled);
  color: var(--button-text-color);
}

.output {
  margin-top: 20px;
  position: relative;
  background-color: var(--output-bg-color);
  color: var(--output-text-color);
  padding: 10px;
  border-radius: 4px;
}

.timer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 4px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 10px 15px; /* Adjust padding for compactness */
  border-bottom: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-left {
  flex: 1;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  margin-left: 15px;
  text-decoration: none;
  color: var(--text-primary);
}

.theme-switcher label {
  margin-right: 5px;
  color: var(--text-primary);
}
