.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-left h1 {
  margin: 0;
  font-size: 1.5em;
  color: var(--text-primary);
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-right a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--text-primary);
}

.theme-switcher {
  margin-left: 20px;
}

.theme-switcher label {
  margin-right: 10px;
  color: var(--text-primary);
}
